@font-face {
    font-family: 'RubikRegular';
    src: url('../fonts/RubikRegular/fonts/RubikRegular.eot');
    src: url('../fonts/RubikRegular/fonts/RubikRegular.eot') format('embedded-opentype'), url('../fonts/RubikRegular/fonts/RubikRegular.woff2') format('woff2'), url('../fonts/RubikRegular/fonts/RubikRegular.woff') format('woff'), url('../fonts/RubikRegular/fonts/RubikRegular.ttf') format('truetype'), url('../fonts/RubikRegular/fonts/RubikRegular.svg#RubikRegular') format('svg');
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../fonts/RubikMedium/fonts/RubikMedium.eot');
    src: url('../fonts/RubikMedium/fonts/RubikMedium.eot') format('embedded-opentype'), url('../fonts/RubikMedium/fonts/RubikMedium.woff2') format('woff2'), url('../fonts/RubikMedium/fonts/RubikMedium.woff') format('woff'), url('../fonts/RubikMedium/fonts/RubikMedium.ttf') format('truetype'), url('../fonts/RubikMedium/fonts/RubikMedium.svg#RubikMedium') format('svg');
}

@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria/fonts/Cambria.eot');
    src: url('../fonts/Cambria/fonts/Cambria.eot') format('embedded-opentype'), url('../fonts/Cambria/fonts/Cambria.woff2') format('woff2'), url('../fonts/Cambria/fonts/Cambria.woff') format('woff'), url('../fonts/Cambria/fonts/Cambria.ttf') format('truetype'), url('../fonts/Cambria/fonts/Cambria.svg#Cambria') format('svg');
}

@font-face {
    font-family: 'Cambria-Bold';
    src: url('../fonts/Cambria-Bold/Cambria-Bold.eot') format('embedded-opentype'), url('../fonts/Cambria-Bold/Cambria-Bold.woff') format('woff'), url('../fonts/Cambria-Bold/Cambria-Bold.ttf') format('truetype'), url('../fonts/Cambria-Bold/Cambria-Bold.svg#Cambria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'RubikRegular';
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
}

.flex {
    display: flex;
}

.phone-icon {}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

i.fas {
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    margin-right: 14px;
    color: #297ab8;
    font-size: 14px;
}

header {
    background: #297ab8;
}

header a {
    color: #fefefe;
    font-size: 18px;
}

header .header-flex {
    height: 76px;
    align-items: center;
    /* margin: 0; */
}

header a.phone-icon {
    margin-right: 37px;
}

header .social-icons a {
    margin-right: 20px;
}